In [ ]:
def namafungsi():
  print("aku belajar bahasa phyton")
for i in range(3):
  namafungsi()

aku belajar bahasa phyton
aku belajar bahasa phyton
aku belajar bahasa phyton

In [ ]:
def luaspersegipanjang(panjang,lebar):
  luas=(panjang*lebar)
  print("luas", luas)
luaspersegipanjang(10,2)

total luas 20

In [ ]:
def luaslingkaran(r):
  luas=(3.14*r*r)
  return luas #return untuk mengembalikan nilai luas

total=luaslingkaran(10)
print(total*2)

628.0

In [ ]:
def biodata (nama, usia):
  print("nama : ", nama)
  print("usia : ", usia)

biodata (usia="20", nama="tessa")

nama :  tessa
usia :  20

In [ ]:
def manusia (nama, usia=20): #parameter kedua harus diisi
  print("nama : ", nama)
  print("usia : ", usia)

manusia("yoshe")

nama :  yoshe
usia :  20

In [ ]:
def umur (umur1, *bebas): #argumen sembarang, panjang parameter bebas
  print (umur1)
  for i in bebas:
    print(i)

umur (19,20, "aa")

19
20
aa

In [ ]:
import math
print("ini pi : ", math.pi)

ini pi :  3.141592653589793

In [ ]:
import math as m
print ("ini adalah pi dari m :", m.pi)
print ("ini adalah tau dari m :", m.tau)

ini adalah pi dari m : 3.141592653589793
ini adalah tau dari m : 6.283185307179586

In [ ]:
from math import *
print (pi, tau, e)

3.141592653589793 6.283185307179586 2.718281828459045

In [ ]:
def cek_ganjil_genap():
  if angka/2=0:
    print("genap")
  else:
    print("ganjil")

In [ ]:
def jumlah (angka):
  total=0
  for x