# **Konsep OOP**

In [ ]:
class Manusia :
  """Dasar kelas untuk semua Manusia"""
  jumlah_manusia = 0

  def __init__(self, nama, umur):
    self.nama = nama
    self.umur = umur
    Manusia.jumlah_manusia += 1

  def tampilkan_jumlah(self):
    print("Total Manusia :", Manusia.jumlah_manusia)

  def tampilkan_profil(self):
    print("Nama :",self.nama)
    print("Umur :",self.umur)

# **Instansiasi Object**

In [ ]:
#Instansiasi Objek
#Instansiasi Objek adalah pembuatan instance atau objek dari suatu kelas
manusia=[]
x = int(input("Masukkan Banyak DATA yang akan di input : "))
for i in range(x):
  nama = input("Masukkan Nama : ")
  umur = input("Masukkan Umur : ")
  manusia.append(Manusia(nama,umur))

"""manusia1=Manusia("ifan",20)
manusia2=Manusia("tessa",20)"""

Masukkan Banyak DATA yang akan di input : 1
Masukkan Nama : a
Masukkan Umur : 1

'manusia1=Manusia("ifan",20)\nmanusia2=Manusia("tessa",20)'

# **Mengakses attribute object**

In [ ]:
#mengakses atrribute Objek
for i in range(len(manusia)):
  manusia[i].tampilkan_profil()
print("Total Manusia :",Manusia.jumlah_manusia)


"""manusia1.tampilkan_profil()
manusia2.tampilkan_profil()
print("Total Manusia :",Manusia.jumlah_manusia)"""

Nama : a
Umur : 1
Total Manusia : 1

# **Pewarisan**

In [ ]:
class mobil:
  def __init__(self,warna,tahun,merek):
    self.warna=warna
    self.tahun=tahun
    self.merek=merek
  def cetaknama(self):
    print("warnanya",self.warna)
    print("tahunnya",self.tahun)
    print("mereknya",self.merek)

class suv(mobil):
  def __init__(self,warna,tahun,merek):
    mobil.__init__(self,warna,tahun,merek)

class mpv(mobil):
  def __init__(self,warna,tahun,merek):
    mobil.__init__(self,warna,tahun,merek)

x=suv("hitam",2022,"mitshubishi (pajero)")
x.cetaknama()
y=suv("merah",2012,"suzuki (grandmax)")
y.cetaknama()

warnanya hitam
tahunnya 2022
mereknya mitshubishi (pajero)
warnanya merah
tahunnya 2012
mereknya suzuki (grandmax)

In [ ]:
#menambah properti kelas anak
#menambah dan memanggil method dalam kelas anak
class mobil:
  def __init__(self,warna,tahun,merek):
    self.warna=warna
    self.tahun=tahun
    self.merek=merek
  def cetaknama(self):
    print("warnanya",self.warna)
    print("tahunnya",self.tahun)
    print("mereknya",self.merek)

class suv(mobil):
  def __init__(self,warna,tahun,merek):
    mobil.__init__(self,warna,tahun,merek)
    self.produk="pajero"
  def cetaksuv(self):
    print("jenis suv",self.produk)
    print("warnanya",self.warna)
    print("tahunnya",self.tahun)
    print("mereknya",self.merek)

class mpv(mobil):
  def __init__(self,warna,tahun,merek):
    mobil.__init__(self,warna,tahun,merek)
    self.produk="grandmax"
  def cetakmpv(self):
    print("jenis suv",self.produk)
    print("warnanya",self.warna)
    print("tahunnya",self.tahun)
    print("mereknya",self.merek)

x=suv("hitam",2022,"mitshubishi")
y=mpv("merah",2012,"suzuki")
x.cetaksuv()
y.cetakmpv()

jenis suv pajero
warnanya hitam
tahunnya 2022
mereknya mitshubishi
jenis suv grandmax
warnanya merah
tahunnya 2012
mereknya suzuki

# **Overridding**

In [ ]:
class Induk:
  def my_method(self):
    print("Memanggil metode induk")

class Anak(Induk):
  def my_method(self):
    print("memanggil metode anak")

c = Anak()
c.my_method()

memanggil metode anak

# **Overloading**

In [ ]:
class Angka:
  def __init__(self, angka):
    self.angka = angka

x1 = Angka(10)
x2 = Angka(20)
x1 + x2

#Error di atas menyatakan kalau kelas Angka tidak bisa menjadi operand dari operator +.

TypeError: ignored

In [ ]:
class Angka:
  def __init__(self, angka):
    self.angka = angka

  def __add__(self, objek):
    return self.angka + objek.angka

x1 = Angka(10)
x2 = Angka(20)

print(x1 + x2)

30

# **Menyembunyikan data**

In [ ]:
class Counter:
  __secret_count = 0

  def count(self):
    self.__secret_count += 1
    print(self.__secret_count)

counter = Counter()
counter.count()
counter.count()
counter.count()
print(counter._Counter__secret_count)

1
2
3
3

# **Konversi Tipe Data**

In [ ]:
a = 1
b = 1.0

c = a + b

print(type(a))
print(type(b))
print(int(c))
print(type(int(c)))

<class 'int'>
<class 'float'>
2
<class 'int'>