# ***Module 1 - Python Basics***

**1. Your First Program**

In [ ]:
# Question 1
print("Hello\nWorld!")

Hello
World!

In [ ]:
# Question 2
# print('Hello World!')

**2. Types**

In [ ]:
# Question 1
int(1.0)

1

In [ ]:
# Question 2
bool(1)

True

**3. String Operations**

In [ ]:
# Question 1
Numbers = "0123456"
print (Numbers[::2])

0246

In [ ]:
# Question 2
"0123456".find('1')

1

**4. Review Question !**

In [ ]:
# Review Question 1
3 + 2 * 2

7

In [ ]:
# Review Question 2
name = 'Lizz'
print(name[0:2])

Li

In [ ]:
# Review Question 3
var = '01234567'
print(var[::2])

0246

In [ ]:
# Review Question 4
print ('1'+'2')

12

In [ ]:
# Review Question 5
myvar = 'hello'
print (myvar.upper())

HELLO

# ***Module 2 - Python Data Structures***

**1. Lists and Tuples**

In [ ]:
# Question 1
A=(0,1,2,3)
print (A[3])
print (A[-1])

3
3

In [ ]:
# Question 2
B=["a","b","c"]
B[1:]

['b', 'c']

**2. Sets**

In [ ]:
# Question 1
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
# Question 2
S={'A','B','C'}
U={'A','Z','C'}
S.intersection(U)

{'A', 'C'}

**3. Dictionaries**

In [ ]:
# Question 1
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [ ]:
# Question 2
D = {'a':0,'b':1,'c':2}
D['b']

1

**4. Review Question**

In [ ]:
# Review Question 1
A = ('a','b','c')
print (A[0])

a

In [ ]:
# Review Question 4
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

# ***Module 3 - Python Programming Fundamentals***

**1. Conditions and Branching**

In [ ]:
# Question 2
x='a'
if(x!='a'):
  print("This is not a.")
else:
  print("This is a.")

This is a.

**2. Loops**

In [ ]:
# Question 1
A=[3,4,5]
for a in A:
  print(a)

3
4
5

In [ ]:
# Question 2
x=3
y=1
while(y!=x):
  print(y)
  y=y+1

1
2

**3. Functions**

In [ ]:
# Question 1
a=1
def add(b):
  return a+b
c=add(10)
print(c)

11

In [ ]:
# Question 2
def f(*x):
  return sum(x)

**4. Objects and Classes**

In [ ]:
# Question 1
class Car:
    def __init__(self, make, model, color):
        self.make = make
        self.model = model
        self.color = color

car = Car("Honda", "Accord", "blue")

**5. Review Question**

In [ ]:
# Review Questions 1
x=1
if(x!=1):
  print('Hello')
else:
  print('Hi')
print('Mike')

Hi
Mike

In [ ]:
# Review Questions 2
A = ['1','2','3']
for a in A:
  print(2*a)

11
22
33

In [ ]:
# Review Questions 3
def Delta(x):
  if x==0:
    y=1;
  else:
    y=0;
  return(y)

In [ ]:
# Review Questions 4
B.sort()

# ***Module 4 - Working with Data in Python***

**3. Loading Data with Pandas**

In [ ]:
# Question 2
import pandas as banana
df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df.head()

    a   b
0  11  21
1  21  22
2  31  23

# ***Final Exam***

In [ ]:
# Exam 1
print(3 + 2 * 2)

7

In [ ]:
# Exam 3
print(int(3.2))

3

In [ ]:
# Exam 4
A='1234567'
A[1::2]

'246'

In [ ]:
# Exam 5
name='Michael Jackson'
name.find('el')

5

In [ ]:
# Exam 6
A='1'
B='2'
A+B

'12'

In [ ]:
# Exam 7
F='You are wrong'
print(F.upper())

YOU ARE WRONG

In [ ]:
# Exam 8
x=['A', 'B', 'C']
x[-1]

'C'

In [ ]:
# Exam 9
A=([11,12],[21,22])
print(A[1])

[21, 22]

In [ ]:
# Exam 10
A=([11,12],[21,22])
print(A[0][1])

12

In [ ]:
# Exam 11
print('1,2,3,4'.split(','))

['1', '2', '3', '4']

In [ ]:
# Exam 12
A=[1,'a']
B=[2,1,'d']
print(A+B)

[1, 'a', 2, 1, 'd']

In [ ]:
# Exam 14
V={'A','B'}
V.add('C')
print (V)

{'A', 'B', 'C'}

In [ ]:
# Exam 15
V={'A','B', 'C'}
V.add('C')
print (V)

{'A', 'B', 'C'}

In [ ]:
# Exam 16
x='go'
if(x!='go'):
  print('stop')
else:
  print('go')
print('mike')

go
mike

In [ ]:
# Exam 17
x='go'
if(x=='go'):
  print('go')
else:

  print('stop')
print('mike')

go
mike

In [ ]:
# Exam 18
for n in range(3):
  print(n)

0
1
2

In [ ]:
# Exam 19
for n in range(3):
  print(n+1)

1
2
3

In [ ]:
# Exam 20
A=['1','2','3']
for a in A:
  print(2*a)

11
22
33

In [ ]:
# Exam 21
def Add(x,y):
  z=y+x
  return(y)
a=Add(1,1)
a

1

In [ ]:
# Exam 22
class Points(object):
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def print_point(self):
    print('x=',self.x,'y=',self.y)

In [ ]:
# Exam 23
class Points(object):
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def print_point(self):
    print('x=',self.x,'y=',self.y)
p1=Points(1,2)
p1.print_point()

x= 1 y= 2

In [ ]:
# Exam 24
class Points(object):
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def print_point(self):
    print('x=',self.x,'y=',self.y)
p2=Points(1,2)
p2.x=2
p2.print_point()

x= 2 y= 2